In [2]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('C:/Users/J/Desktop/Businesses/Meal_Maker/Scraped_Data/combined_nutrition_small/nutrition_sm_2018_3_15_processed_comma.csv', delimiter = ',',encoding='ISO-8859-1')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
len(df)

469829

In [31]:
df.head()

,food_key,food_description,brand,food_type_grp,source,ingredients_list,serving_size_raw,serving_size_val,serving_size_unit,calories,...,saturated_fat_g,carb_g,fiber_g,sugar_g,sodium_mg,cholesterol_mg,calcium_mg,iron_mg,vit_a_mcg,vit_c_mg
0,234617,"Egg Cream, Chocolate flavored",5 & Diner,restaurant,diet_facts_restaurants,NaN,1 egg cream,NaN,NaN,211.0,...,1.50,42.87,0.00,6.50,191.41,12.50,180.0,2.16,250.0,1.2
1,234618,"Egg Cream, Vanilla flavored",5 & Diner,restaurant,diet_facts_restaurants,NaN,1 egg cream,NaN,NaN,205.0,...,1.50,44.50,0.00,44.50,85.00,12.50,180.0,0.00,250.0,1.2
2,234619,Eggs Benedict,5 & Diner,restaurant,diet_facts_restaurants,two poached eggs on top of sliced ham and an E...,1 order,NaN,NaN,702.0,...,24.12,36.44,1.35,10.01,1864.89,562.57,220.0,4.14,2000.0,21.0
3,234620,Eggs Maximilian with Chorizo,5 & Diner,restaurant,diet_facts_restaurants,NaN,1 order,NaN,NaN,1353.0,...,27.58,75.24,6.30,6.98,2033.99,751.81,440.0,7.38,4150.0,79.2
4,234621,Fish and Chips,5 & Diner,restaurant,diet_facts_restaurants,"battered cod served with French fries, corn on...",1 order,NaN,NaN,672.0,...,1.09,77.55,1.08,0.94,1904.20,109.72,140.0,4.86,650.0,3.6

In [33]:
for i in range(len(df.columns)):
    print(df.columns.values[i]+' type '+ str(df.iloc[:,i].dtype))

food_key type object
food_description type object
brand type object
food_type_grp type object
source type object
ingredients_list type object
serving_size_raw type object
serving_size_val type float64
serving_size_unit type float64
calories type float64
protein_g type float64
fat_g type float64
saturated_fat_g type float64
carb_g type float64
fiber_g type float64
sugar_g type float64
sodium_mg type float64
cholesterol_mg type float64
calcium_mg type float64
iron_mg type float64
vit_a_mcg type float64
vit_c_mg type float64

This looks good